In [1]:
import pandas as pd
import numpy as np
import os

In [6]:
RAW_DATA_CLEANED_PATH = os.path.join("..\\","Raw_data_cleaned", "Burley", "Burley21.xlsx")
RAW_DATA_CLEANED_PATH

'..\\Raw_data_cleaned\\Burley\\Burley21.xlsx'

In [7]:
xl = pd.read_excel(RAW_DATA_CLEANED_PATH, "Sheet1")

In [8]:
xl

,RF,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,54,55,Mol WT
0,0.003934,0.0,1.111549,1.386037,2.084254,1.984982,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,4.271147,1.422525,1.217136,0.0,0.0,0.0,0.0,260.904185
1,0.004590,0.0,0.000000,0.000000,0.000000,0.000000,2.166127,0.000000,0.000000,1.555099,...,0.000000,3.340998,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,257.225821
2,0.005246,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.557232,2.106831,0.000000,...,2.463498,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,253.756460
3,0.005902,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,250.467253
4,0.006557,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,247.340650
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,0.994098,0.0,0.000000,0.000000,0.000000,0.000000,5.642270,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,16.353173
389,0.994754,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,16.338453
390,0.995410,0.0,0.000000,0.000000,0.000000,7.980728,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,16.323748
391,0.996721,0.0,0.000000,0.000000,8.970337,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,16.294409
392,0.997377,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,16.279751

In [23]:
def norm_sum(dataframe, interval):
    normed_data = []
    for i in range(1,interval.size):
        normed = dataframe.groupby('RF').filter(lambda x: np.logical_and(x["RF"] < interval[i], interval[i-1] <= x["RF"]))
        new_index = np.full((normed.index.size), interval[i])
        normed["RF"] = new_index

        normed_data.append(normed.groupby(["RF"]).sum())
    return pd.concat(normed_data)

In [24]:
interval = np.arange(0,1.001 ,0.005)

In [43]:
normed = norm_sum(xl.iloc[:, :-1], interval)

(155, 55)

In [26]:
def validation(normed):
    if normed.shape == (155,55):
        return True
    return False

,1,2,3,4,5,6,7,8,9,10,...,47,48,49,50,51,52,53,54,55,Mol WT
RF,,,,,,,,,,,,,,,,,,,,,
0.005,0.00000,1.111549,1.386037,2.084254,1.984982,2.166127,0.000000,0.000000,1.555099,0.000000,...,0.000000,3.340998,4.271147,1.422525,1.217136,0.000000,0.000000,0.000000,0.0,518.130006
0.010,0.00000,0.000000,0.738121,0.000000,0.000000,0.000000,1.557232,2.106831,0.000000,1.569504,...,2.463498,0.000000,0.000000,0.000000,0.000000,1.088475,0.000000,0.000000,0.0,985.102866
0.015,0.00000,0.442012,0.000000,1.612882,0.993242,1.104221,0.930410,3.822646,1.707306,2.982303,...,5.279717,4.380920,2.613971,0.679811,1.094251,0.000000,0.000000,0.000000,0.0,1570.025009
0.020,0.00000,0.286530,0.597998,0.000000,0.712950,0.794720,0.646324,0.000000,0.000000,0.000000,...,0.000000,0.000000,2.819810,0.690989,0.000000,1.036161,0.000000,0.000000,0.0,619.930843
0.025,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,196.911945
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0.980,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.142877,0.000000,0.000000,0.000000,0.000000,0.882245,0.0,33.512978
0.985,0.29256,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.741548,0.000000,0.0,66.393084
0.990,0.00000,1.729016,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,99.051817
0.995,0.00000,0.000000,0.000000,0.000000,0.000000,5.642270,5.887362,7.054080,7.627085,8.349805,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,98.251740
1.000,0.00000,0.000000,0.000000,0.000000,7.980728,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,16.323748

,RF,1,2,3,4,5,6,7,8,9,...,46,47,48,49,50,51,52,53,54,55
0,0.003934,0.0,1.111549,1.386037,2.084254,1.984982,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,4.271147,1.422525,1.217136,0.0,0.0,0.0,0.0
1,0.004590,0.0,0.000000,0.000000,0.000000,0.000000,2.166127,0.000000,0.000000,1.555099,...,0.000000,0.000000,3.340998,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
2,0.005246,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,1.557232,2.106831,0.000000,...,0.000000,2.463498,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
3,0.005902,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,3.276852,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
4,0.006557,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,0.994098,0.0,0.000000,0.000000,0.000000,0.000000,5.642270,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
389,0.994754,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
390,0.995410,0.0,0.000000,0.000000,0.000000,7.980728,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
391,0.996721,0.0,0.000000,0.000000,8.970337,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
392,0.997377,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0