In [1]:
import pandas as pd
import numpy as np
import os

In [7]:
RAW_DATA_CLEANED_PATH = os.path.join("..","Raw_data_cleaned", "Burley", "Burley21.xlsx")
RAW_DATA_CLEANED_PATH

'../Raw_data_cleaned/Burley/Burley21.xlsx'

In [221]:
!pip install xlwt

Collecting xlwt
  Using cached xlwt-1.3.0-py2.py3-none-any.whl (99 kB)
Installing collected packages: xlwt
Successfully installed xlwt-1.3.0

In [9]:
xl = pd.read_excel("../R_code/Data/Fletten.xlsx", "Sheet1")

In [10]:
xl = xl * 10e9

In [12]:
xl += 1

In [222]:
xl.to_excel("../R_code/Data/FlettenUpscaled.xlsx", index=False)

In [62]:
import time
def norm_sum(dataframe, interval):
    normed_data = []
    for i in range(1,interval.size):
        df = dataframe.groupby('RF')
        normed = df.filter(lambda x: np.logical_and(x["RF"] <= interval[i], interval[i-1] < x["RF"])).sum()
        normed = normed.to_list()
        new_df = pd.DataFrame(normed[1:56]).T
        new_df.index = [interval[i]]
        normed_data.append(new_df)
    return pd.concat(normed_data)

In [63]:
interval = np.arange(0,1.01 ,0.01)

In [206]:
xl = pd.read_excel("../Raw_data_cleaned/Burley/Burley2-.xlsx")

new_df

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
0.03,0.863725,0.59216,0.819738,0.926027,1.029129,1.612236,1.795003,1.846819,2.675471,2.502722,...,3.90978,4.34785,2.653802,2.840045,2.361755,0.0,0.0,0.0,0.0,0.0

In [210]:
new_df = pd.DataFrame(columns=[range(55)])

In [212]:
new_df.append(new_df)

/var/folders/_3/c51wprbd1s3gdx3xscmb36mc0000gn/T/ipykernel_22555/3811822044.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df.append(new_df)

Empty DataFrame
Columns: [(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54)]
Index: []

In [208]:
new_df

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
0.03,0.863725,0.59216,0.819738,0.926027,1.029129,1.612236,1.795003,1.846819,2.675471,2.502722,...,3.90978,4.34785,2.653802,2.840045,2.361755,0.0,0.0,0.0,0.0,0.0

In [61]:
for i in range(1,interval.size):
    df = xl.groupby('RF')
    normed = df.filter(lambda x: np.logical_and(x["RF"] < interval[1], interval[0] <= x["RF"])).sum()
    normed = normed.to_list()
    new_df = pd.DataFrame(normed[1:56]).T
    new_df.index = [interval[1]]

In [4]:
normed = norm_sum(xl.iloc[:, :-1], interval)

NameError: name 'interval' is not defined

In [110]:
import os
os.mkdir(os.path.join("..", "Bin_data"))
os.mkdir(os.path.join("..", "Bin_data", "Burley"))
os.mkdir(os.path.join("..", "Bin_data", "Turkish"))
os.mkdir(os.path.join("..", "Bin_data", "Virginia"))

In [65]:
category_list = ["Burley", "Turkish", "Virginia"]
category_color = {"Burley":1, "Turkish":2, "Virginia":3}
all = []
c = []
for category in category_list:
    for filename in os.listdir(os.path.join("..", "Raw_data_cleaned", category)):
        xl = pd.read_excel(os.path.join("..", "Raw_data_cleaned", category, filename), "Sheet1")
        normed = norm_sum(xl.il
        \oc[:, :-1], interval)
        print(normed.shape)
        normed.to_excel(os.path.join("..", "Bin_data", category, f"{filename[:-5]}.xlsx"))

(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)
(100, 55)

In [56]:
category_list = ["Burley", "Turkish", "Virginia"]
category_color = {"Burley":1, "Turkish":2, "Virginia":3}
all = []
c = []
samples = []
for category in category_list:
    for filename in os.listdir(os.path.join("..", "Bin_data", category)):
        df = pd.read_excel(os.path.join("..", "Bin_data", category, filename))
        samples.append(df)
        c.append(category_color[category])
        out = df.iloc[:, 1:].to_numpy().flatten().tolist()
        all.append(out)

In [57]:
all = np.array(all)

In [27]:
all.shape

(74, 1870)

In [58]:
new_c = []
pre = 0
current = 1
for i in c:
    if i != current:
        current = i
        pre = 0
    new_c.append(f"{i}.{pre}")
    pre += 1

In [252]:
len(all)

74

In [253]:
len(new_c)

74

In [29]:
all.T.shape

(1870, 74)

In [59]:
df = pd.DataFrame(all.T, columns=new_c).replace(0,0.00000001).replace(np.nan,0.00000001) * 10e7

In [37]:
df

,1.0,1.1,1.2,1.3,1.4,1.5,1.6,1.7,1.8,1.9,...,3.18,3.19,3.20,3.21,3.22,3.23,3.24,3.25,3.26,3.27
0,9.209879e+07,1.398739e+08,1.000000e+00,7.471883e+07,1.0,1.000000e+00,4.003941e+07,1.000000e+00,3.193139e+07,5.335022e+07,...,1.0,1.000000e+00,1.000000e+00,1.000000e+00,1.524954e+08,5.224836e+07,1.000000e+00,1.000000e+00,6.005826e+07,1.00
1,1.179508e+08,1.495571e+08,1.000000e+00,1.111549e+08,1.0,1.000000e+00,1.824394e+07,1.000000e+00,5.921598e+07,7.532769e+07,...,1.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,4.232078e+07,1.000000e+00,1.000000e+00,7.616112e+07,1.00
2,6.576795e+07,1.000000e+00,1.000000e+00,1.386037e+08,1.0,1.000000e+00,1.216015e+07,1.000000e+00,8.197376e+07,7.703090e+07,...,1.0,1.000000e+00,1.000000e+00,1.000000e+00,8.696091e+07,2.137054e+08,1.000000e+00,1.000000e+00,2.575312e+08,1.00
3,7.967373e+07,6.073339e+08,8.130482e+08,2.084254e+08,1.0,1.000000e+00,1.159300e+07,1.000000e+00,9.260269e+07,7.316718e+07,...,1.0,7.071497e+07,1.000000e+00,1.000000e+00,3.348333e+08,3.579584e+08,1.000000e+00,1.000000e+00,2.863867e+08,1.00
4,8.581816e+07,4.599811e+08,7.051555e+08,1.984982e+08,1.0,6.755564e+07,3.377668e+07,4.366643e+07,1.029129e+08,1.007850e+08,...,1.0,1.042342e+08,2.499382e+07,1.000000e+00,4.322877e+08,1.997332e+08,1.503969e+09,1.000000e+00,2.506908e+08,13558351.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1865,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.0,1.000000e+00,1.000000e+00,1.000000e+00,2.955801e+07,1.000000e+00,...,1.0,1.000000e+00,3.180704e+08,5.479769e+07,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.00
1866,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.0,1.000000e+00,1.000000e+00,1.000000e+00,2.105319e+07,1.000000e+00,...,1.0,1.000000e+00,1.645736e+08,1.289571e+08,1.000000e+00,1.000000e+00,1.000000e+00,3.539783e+08,1.000000e+00,1.00
1867,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.0,1.000000e+00,1.000000e+00,1.000000e+00,1.213587e+07,1.000000e+00,...,1.0,1.000000e+00,1.603154e+08,1.324837e+08,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.00
1868,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.0,1.000000e+00,1.000000e+00,1.000000e+00,1.970762e+07,1.000000e+00,...,1.0,1.000000e+00,1.675147e+07,2.911326e+07,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.00
1869,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.0,1.000000e+00,1.000000e+00,1.000000e+00,1.982123e+07,1.000000e+00,...,1.0,1.000000e+00,1.000000e+00,1.862066e+08,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.00

In [60]:
df.to_excel("flatten_data.xls", index=False)

/var/folders/_3/c51wprbd1s3gdx3xscmb36mc0000gn/T/ipykernel_42855/1813919168.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df.to_excel("flatten_data.xls", index=False)

In [121]:
print(os.listdir(os.path.join("..", "Raw_data_cleaned", "Burley")))

['Burley56.xlsx', '.DS_Store', 'Burley21-2.xlsx', 'Burley60.xlsx', 'Burley21.xlsx', 'Burley51.xlsx', 'Burley26.xlsx', 'Burley27.xlsx', 'Burley60-2.xlsx', 'Burley2-.xlsx', 'Burley53.xlsx', 'Burley28.xlsx', 'Burley90.xlsx', 'Burley30-2.xlsx', 'Burley24.xlsx', 'Burley25.xlsx', 'Burley29.xlsx', 'Burley52.xlsx', 'Burley59.xlsx', 'Burley22.xlsx', 'Burley55.xlsx', 'Burley23.xlsx']

In [116]:
def validation(normed):
    if normed.shape == (155,55):
        return True
    return False

In [7]:
!zip -r Bin_data.zip Bin_data

	zip warning: name not matched: Bin_data

zip error: Nothing to do! (try: zip -r Bin_data.zip . -i Bin_data)

In [84]:
a = [[7,8,9],[4,5,6],[1,2,3]]

In [92]:
df = pd.DataFrame(a)
df.columns = ["A","B","C"]
df.index = ["D","E","F"]

In [103]:
df

   A  B  C
D  7  8  9
E  4  5  6
F  1  2  3

In [101]:
s = df.T

In [107]:
pd.DataFrame(s.T, columns=["Bd","Ac","Cs"])

   Bd  Ac  Cs
D NaN NaN NaN
E NaN NaN NaN
F NaN NaN NaN

In [58]:
xl = pd.read_excel("../rapidminer/data/FlettenUpScale.xls")

In [60]:
gel_value = xl.T.values

In [43]:
xl.rename({"1.1": "hi"}, axis=1, inplace=True)

In [61]:
classes = [int(str(i)[0]) for i in xl.columns]

In [62]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(gel_value, classes, test_size=0.33, random_state=0)

In [63]:
df_train = pd.DataFrame(X_train.T, columns=y_train)
df_test = pd.DataFrame(X_test.T, columns=y_test)

In [75]:
df_train.T.sort_index().T
df_test.T.sort_index().T
df_test = df_test.T.sort_index().T

In [ ]:
pre = ""
current = ""
new_col = []
for i in df_test:
    if pre == "" or str(i) != current:
        pre = 0
        current = str(i)
    index = "{}.{}".format(current,pre)
    new_col.append(index)
    pre += 1

In [138]:
new_col
df_test = pd.DataFrame(df_test.values, columns=new_col)
df = df_test

In [139]:
def generate_columns(df: pd.DataFrame, type: str):
    new_col = []
    not_type = 0
    yes_type = 0
    for i in df.columns:
        print(str(i)[0] == type)
        if str(i)[0] == type:
            new_col.append("1.{}".format(yes_type))
            yes_type += 1
            print("wth")
        else:
            new_col.append("0.{}".format(not_type))
            not_type += 1
    return new_col

In [ ]:
df.columns = generate_columns(df, "3")

In [147]:
test = df.T.sort_index(ascending=False).T

In [159]:
a = [[11], [22], [33], [44]]
pd.DataFrame(a).T.values

array([[11, 22, 33, 44]])

In [ ]:
[int(i[0]) for i in test.columns]

In [166]:
pd.DataFrame({"Raw":[0.222], "imasdf": [0.2222]})

     Raw  imasdf
0  0.222  0.2222