In [108]:
import pandas as pd
import numpy as np
import os

In [7]:
RAW_DATA_CLEANED_PATH = os.path.join("..","Raw_data_cleaned", "Burley", "Burley21.xlsx")
RAW_DATA_CLEANED_PATH

'../Raw_data_cleaned/Burley/Burley21.xlsx'

In [114]:
!pip install xlrd

Requirement already satisfied: xlrd in /Users/vitvaraaravithya/opt/anaconda3/lib/python3.9/site-packages (2.0.1)

In [9]:
xl = pd.read_excel("../R_code/Data/Fletten.xlsx", "Sheet1")

In [10]:
xl = xl * 10e9

In [12]:
xl += 1

In [15]:
xl.to_excel("../R_code/Data/FlettenUpscaled.xlsx", index=False)

In [111]:
import time
def norm_sum(dataframe, interval):
    normed_data = []
    df = dataframe.groupby('RF')
    for i in range(1,interval.size):
        normed = df.filter(lambda x: np.logical_and(x["RF"] < interval[i], interval[i-1] <= x["RF"]))
        new_index = np.full((normed.index.size), interval[i])
        normed["RF"] = new_index
        if normed.groupby(["RF"]).sum().shape == (0,55) or normed.empty:
            normed = normed.append(pd.Series(0, index=normed.columns), ignore_index=True)
            normed["RF"] = interval[i]
        normed_data.append(normed.groupby(["RF"]).sum())
    return pd.concat(normed_data)

In [5]:
interval = np.arange(0,1.021 ,0.03)

In [67]:
df = pd.DataFrame()
print(df)
df = df.append(pd.Series(0, index=df.columns), ignore_index=True)
df["RF"] = 1.2
df.groupby(["RF"]).sum()

Empty DataFrame
Columns: []
Index: []

/var/folders/_3/c51wprbd1s3gdx3xscmb36mc0000gn/T/ipykernel_22555/2064281981.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.Series(0, index=df.columns), ignore_index=True)

Empty DataFrame
Columns: []
Index: [1.2]

In [109]:
normed = norm_sum(xl.iloc[:, :-1], interval)

In [110]:
import os
os.mkdir(os.path.join("..", "Bin_data"))
os.mkdir(os.path.join("..", "Bin_data", "Burley"))
os.mkdir(os.path.join("..", "Bin_data", "Turkish"))
os.mkdir(os.path.join("..", "Bin_data", "Virginia"))

In [ ]:
category_list = ["Burley", "Turkish", "Virginia"]
category_color = {"Burley":1, "Turkish":2, "Virginia":3}
all = []
c = []
for category in category_list:
    for filename in os.listdir(os.path.join("..", "Raw_data_cleaned", category)):
        xl = pd.read_excel(os.path.join("..", "Raw_data_cleaned", category, filename), "Sheet1")
        normed = norm_sum(xl.iloc[:, :-1], interval)
        if normed.shape != (34,55):
            print(normed.shape, filename, "==========")
        normed.to_excel(os.path.join("..", "Bin_data", category, f"{filename[:-5]}.xlsx"))

In [121]:
print(os.listdir(os.path.join("..", "Raw_data_cleaned", "Burley")))

['Burley56.xlsx', '.DS_Store', 'Burley21-2.xlsx', 'Burley60.xlsx', 'Burley21.xlsx', 'Burley51.xlsx', 'Burley26.xlsx', 'Burley27.xlsx', 'Burley60-2.xlsx', 'Burley2-.xlsx', 'Burley53.xlsx', 'Burley28.xlsx', 'Burley90.xlsx', 'Burley30-2.xlsx', 'Burley24.xlsx', 'Burley25.xlsx', 'Burley29.xlsx', 'Burley52.xlsx', 'Burley59.xlsx', 'Burley22.xlsx', 'Burley55.xlsx', 'Burley23.xlsx']

In [116]:
def validation(normed):
    if normed.shape == (155,55):
        return True
    return False

In [7]:
!zip -r Bin_data.zip Bin_data

	zip warning: name not matched: Bin_data

zip error: Nothing to do! (try: zip -r Bin_data.zip . -i Bin_data)

In [84]:
a = [[7,8,9],[4,5,6],[1,2,3]]

In [92]:
df = pd.DataFrame(a)
df.columns = ["A","B","C"]
df.index = ["D","E","F"]

In [103]:
df

   A  B  C
D  7  8  9
E  4  5  6
F  1  2  3

In [101]:
s = df.T

In [107]:
pd.DataFrame(s.T, columns=["Bd","Ac","Cs"])

   Bd  Ac  Cs
D NaN NaN NaN
E NaN NaN NaN
F NaN NaN NaN

In [58]:
xl = pd.read_excel("../rapidminer/data/FlettenUpScale.xls")

In [60]:
gel_value = xl.T.values

In [43]:
xl.rename({"1.1": "hi"}, axis=1, inplace=True)

In [61]:
classes = [int(str(i)[0]) for i in xl.columns]

In [62]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(gel_value, classes, test_size=0.33, random_state=0)

In [63]:
df_train = pd.DataFrame(X_train.T, columns=y_train)
df_test = pd.DataFrame(X_test.T, columns=y_test)

In [75]:
df_train.T.sort_index().T
df_test.T.sort_index().T
df_test = df_test.T.sort_index().T

In [ ]:
pre = ""
current = ""
new_col = []
for i in df_test:
    if pre == "" or str(i) != current:
        pre = 0
        current = str(i)
    index = "{}.{}".format(current,pre)
    new_col.append(index)
    pre += 1

In [138]:
new_col
df_test = pd.DataFrame(df_test.values, columns=new_col)
df = df_test

In [139]:
def generate_columns(df: pd.DataFrame, type: str):
    new_col = []
    not_type = 0
    yes_type = 0
    for i in df.columns:
        print(str(i)[0] == type)
        if str(i)[0] == type:
            new_col.append("1.{}".format(yes_type))
            yes_type += 1
            print("wth")
        else:
            new_col.append("0.{}".format(not_type))
            not_type += 1
    return new_col

In [ ]:
df.columns = generate_columns(df, "3")

In [147]:
test = df.T.sort_index(ascending=False).T

In [159]:
a = [[11], [22], [33], [44]]
pd.DataFrame(a).T.values

array([[11, 22, 33, 44]])

In [ ]:
[int(i[0]) for i in test.columns]

In [166]:
pd.DataFrame({"Raw":[0.222], "imasdf": [0.2222]})

     Raw  imasdf
0  0.222  0.2222